# .NET
bin/
obj/
publish/
publish-arm64/

# IDEs
.vscode/
.idea/
*.user
*.userosscache
*.sln.docstates

# Environment
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# CDN
**/cdn/attachments/*
!**/cdn/attachments/.gitkeep
